@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
*
{
    font-family: 'Convergence', sans-serif;
}
body
{
    background-color: rgb(139, 226, 226);
}

.box h1
{
    padding-left: 30px;
    color: whitesmoke;
    font-size: 80px;
    text-align: center;
    background-color: rgb(139, 226, 226o);
}
table, tr, th
{
    background-color: whitesmoke;
    font-size: 25px;
    border: 5px solid black;
    border-collapse: collapse;
}
th
{
    width: 65px;
    height: 65px;
}
tr
{
    width: 65px;
    height: 65px;
}
